@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

.dark-mode {
	color-scheme: dark;
	--theme-scrollbar-color: rgba(255, 255, 255, 0.18);
	--theme-scrollbar-color-active: rgba(255, 255, 255, 0.36);
	--theme-button-1: rgba(255, 255, 255, 1);
	--theme-button-1-hover: rgba(255, 255, 255, 0.9);
	--theme-button-1-color: var(--ctp-mocha-crust);

	--theme-shadow-1: 0 1px 3px 0 rgb(0, 0, 0, 0.1);
	--theme-shadow-2: rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px,
		0 0 0 1px rgba(255, 255, 255, 0.1);
}
.light-mode {
	color-scheme: light;
	--theme-scrollbar-color-active: rgba(0, 0, 0, 0.36);
	--theme-scrollbar-color: rgba(0, 0, 0, 0.18);
	--theme-button-1: rgba(0, 0, 0, 1);
	--theme-button-1-hover: rgba(0, 0, 0, 0.8);
	--theme-button-1-color: var(--ctp-latte-crust);

	--theme-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
	--theme-shadow-2: rgba(0, 0, 0, 0.08) 0px 13px 20px 0px, rgba(0, 0, 0, 0.08) 0px 3px 8px 0px,
		#eeeeed 0px 0 0 1px;
}
/* On some browsers, the light color scheme takes precedence when the light mode is active */
.light-mode .dark-mode {
	color-scheme: dark !important;
}

.light-mode {
	--theme-color-1: var(--ctp-latte-text);
	--theme-color-2: rgba(var(--ctp-latte-text-rgb) 0.6);
	--theme-color-3: rgba(var(--ctp-latte-text-rgb) 0.4);
	--theme-color-accent: var(--ctp-latte-blue);
	--theme-background-1: var(--ctp-latte-base);
	--theme-background-2: var(--ctp-latte-surface0);
	--theme-background-3: var(--ctp-latte-lavender);
	--theme-background-accent: var(--ctp-latte-green);
	--theme-border-color: var(--ctp-latte-overlay0);
}
.dark-mode {
	--theme-color-1: var(--ctp-mocha-text);
	--theme-color-2: rgba(var(--ctp-mocha-text-rgb) 0.6);
	--theme-color-3: rgba(var(--ctp-mocha-text-rgb) 0.4);
	--theme-color-accent: var(--ctp-mocha-blue);
	--theme-background-1: var(--ctp-mocha-base);
	--theme-background-2: var(--ctp-mocha-surface0);
	--theme-background-3: var(--ctp-mocha-lavender);
	--theme-background-accent: var(--ctp-mocha-green);
	--theme-border-color: var(--ctp-mocha-overlay0);
}

.light-mode .sidebar {
	--sidebar-background-1: var(--theme-background-1);
	--sidebar-item-hover-color: var(--ctp-latte-surface1);
	--sidebar-item-hover-background: var(--theme-background-2);
	--sidebar-item-active-background: var(--theme-background-2);
	--sidebar-border-color: var(--theme-border-color);
	--sidebar-color-1: var(--theme-color-1);
	--sidebar-color-2: var(--theme-color-2);
	--sidebar-color-active: var(--theme-color-2);
	--sidebar-search-background: var(--theme-background-2);
	--sidebar-search-border-color: var(--theme-border-color);
	--sidebar-search-color: var(--theme-color-3);
}
.dark-mode .sidebar {
	--sidebar-background-1: var(--theme-background-1);
	--sidebar-item-hover-color: var(--ctp-mocha-surface1);
	--sidebar-item-hover-background: var(--theme-background-2);
	--sidebar-item-active-background: var(--theme-background-2);
	--sidebar-border-color: var(--theme-border-color);
	--sidebar-color-1: var(--theme-color-1);
	--sidebar-color-2: var(--theme-color-2);
	--sidebar-color-active: var(--theme-color-2);
	--sidebar-search-background: var(--theme-background-2);
	--sidebar-search-border-color: var(--theme-border-color);
	--sidebar-search-color: var(--theme-color-3);
}
